.Linechart{
    border: #efefef;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 30px;
}
.LineTitle{
    font-weight: 600;
    padding: 0 32px;
    
}
.LineSubtitle{
    font-size: small;
    padding: 8px 32px;
}
.barContainer{
  background-color: white;
  padding: 40px 20px;
  border-radius: 10px;
}