.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
}
.Container{
    width: 30%;
    margin: 10px 30px;
    padding: 40px 20px;
    background-color: white;
    border-color: #efefef;
    border-radius: 10px;
}
.Container h5{
    padding: 6px 0;
    
}
.Container .num{
    font-weight: 600;
}
.Container .total{
    font-size: small;
    color: grey;
}
.Container p{
    padding: 4px 0;
}
.firstlist ul li::marker{
    color: rgb(227, 7, 179);
}
.secondlist ul li::marker{
    color: rgb(167, 12, 167);
}
.thirdlist ul li::marker{
    color: rgb(0, 152, 253);
}
.fourthlist ul li::marker{
    color: grey;
}