.app-container{
    display: flex;
  }

  .sidebar{
    width: 300px;
    height: 100vh;
    background-color: white;
    position: sticky;
    top: 0;
  }
  
  .sidebar *{
    color: #000;
    margin: 5px;
  }

  .sidebar ul{
    margin: 8px 18px;
  }

  .sidebar ul li{
    list-style: none;
    padding: 4px 6px;
    display: flex;
    align-items: center;
  }
  .sidebar ul li:hover{
    background: linear-gradient(90deg, rgba(212,77,148,1) 0%, rgba(183,85,164,1) 65%, rgba(151,95,195,1) 100%);
   
   
}

  .sidebar ul li a{
   text-decoration: none;
   font-weight:600; 
  }

  .profile{
    width: 64px;
    height: 64px;
    border-radius: 100%;
  }
.profileWrapper{
  text-align: center;
  margin: 16px;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 12px 16px;
}
.name{
  font-weight: 600;
} 

.email{
  color: grey;
  font-size: small;
  padding-bottom: 2px;
}
.mybtn{
  padding: 2px ;
  color: purple;
  background-color: #fff;
  border: none;
}
.icons{
padding-right: 10px;
 
  
}
.overviewbtn{
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-around;
  width: 128px;
  margin: 0 28px;
  padding: 0 4px;
  border-radius: 4px;
  

}
  
