.app-container{
    display: flex;
  }

  .sidebar{
    width: 300px;
    height: 100vh;
    background-color: white;
    position: sticky;
    top: 0;
  }
  
  .sidebar *{
    color: #000;
    margin: 10px;
  }

  .sidebar ul{
    margin: 30px 24px;
  }

  .sidebar ul li{
    list-style: none;
    padding: 8px;
    display: flex;
    align-items: center;
    
   
  }

  .sidebar ul li a{
   text-decoration: none;
   font-weight:600; 
  }

  .profile{
    width: 64px;
    height: 68px;
    border-radius: 50px;
  }
.profileWrapper{
  text-align: center;
  margin: 24px;
  background-color: whitesmoke;
  padding: 16px;
}
.name{
  font-weight: 600;
} 

.email{
  color: grey;
  font-size: small;
}
.mybtn{
  padding: 10px 44px;
  color: purple;
  background-color: #fff;
  border: none;
}
  